@import "fonts"
@import "libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	background: #000

.img-responsive
	display: block
	max-width: 100%
	height: auto

.text-center
	text-align: center

::selection
	background-color: $accent
	color: #fff

body
	background: #d1c5f5

button
	outline: 0
	outline-offset: 0

.interface_container
	width: 20vw
	height: 20vh
	position: fixed
	top: 0
	left: 0
	box-shadow: 1px 1px 10px #333
	z-index: 10
	background: #431d56
	.logo
		width: 100%
		display: block
		padding: 20px
		img
			width: 100%
			max-height: 100%
.nav_menu
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-wrap: wrap
	justify-content: center
	align-items: center
	position: fixed
	width: 20vw
	height: 80vh
	padding: 50px 0
	bottom: 0
	left: 0
	z-index: 5
	box-shadow: 1px 1px 10px #333
	background: #6d1d94
	overflow: auto

	.nav_button
		width: 80%
		background: none
		color: #fff
		min-height: 50px
		border-radius: 50px
		border: 2px solid #431d56
		box-shadow: 1px 1px 5px #431d56
	.nav_button.active
		border: 2px solid #fff
		background: rgba(255,255,255,0.1)
		box-shadow: 1px 1px 5px #fff
.week_menu
	position: fixed
	width: 80vw
	height: 20vh
	padding: 50px 50px
	top: 0
	right: 0
	background: #6d1d94
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: space-between
	align-items: center
	.week_button
		width: 15%
		color: #fff
		background: none
		border: 1px solid #431d56
		box-shadow: 1px 1px 5px #431d56
		border-radius: 50px
		font-size: 16px
		&:hover
			border: 1px solid #fff
			box-shadow: 1px 1px 5px #fff
	.week_button.active
		border: 2px solid #fff
		background: rgba(255,255,255,0.1)
		box-shadow: 1px 1px 5px #fff
.schedule_container
	width: 80vw
	height: 80vh
	bottom: 0
	right: 0
	position: fixed
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-wrap: wrap
	align-items: flex-start
	justify-content: space-between
	padding: 20px
	.branch_nav
		position: absolute
		top: 0
		width: 100%
		right: 0
		height: 50px
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		#nav_branch
			width: 80%
			padding: 0 50px
			font-size: 20px
			color: #431d56
		#week_branch
			width: 20%
			padding: 0 50px
			font-size: 20px
			color: #431d56
	.schedule_group_array
		display: none
		flex-wrap: wrap
		margin-top: 20px
		justify-content: flex-start
		.schedule_group_item
			button
				color: #fff
				background: #431d56
				border: none
				position: relative
				border-radius: 50px
				width: 65px
				height: 65px
				margin: 10px
				font-size: 18px
		.active
			button
				&::after
					content: ''
					position: absolute
					width: 75px
					height: 75px
					background: url('../img/detail.png')
					background-size: cover
					background-position: 0 0
					top: -5px
					left: -5px
					animation: 2s rotare_detail linear infinite
	.schedule_group_array.active
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
	.schedule_box_array
		height: 50%
		width: 100%
		display: none
		justify-content: flex-start
		align-items: flex-start
		.schedule_box
			background: #ad98b7
			text-align: center
			display: none
			padding: 0
			width: 23%
			font-size: 14px
			margin: 1%
			border: 1px solid #431d56
			box-shadow: 1px 1px 5px #431d56
			.group
				background: #431d56
				color: #fff
			.schelude_item
				display: -webkit-flex
				display: -moz-flex
				display: -ms-flex
				display: -o-flex
				display: flex
				flex-wrap: wrap
				border-bottom: 5px solid #431d56
				p
					padding: 0
					margin: 0
					border: 1px solid #431d56
					width: 80%
				.teacher
					width: 60%
					border: 1px solid #431d56
				.cabinet
					width: 20%
					border: 1px solid #431d56
				.time
					width: 20%
					border: 1px solid #431d56
				.lesson_num
					width: 20%
					border: 1px solid #431d56
		.active
			display: block
	.schedule_box_array.active
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
@keyframes rotare_detail
	0%
		transform: rotate(0deg)
	100%
		transform: rotate(180deg)

@import "media" // Всегда в конце
